#games-list
H2(class="text-center")="Games List"

div(class="container-fluid")
  div(class="row" style="margin-left:3em;margin-right:3em")
    each game in games
      div(class="col game-room col-md-6")
        span= game.title
        form(action=`/games/${game.id}/join` method="post" target="_blank")
          button Join Game

    form(action="/games/create" method="post")

      label(for="title" ) Title (optional):
      input(type = "text", name = "title")
      button#create-game Create a new game