doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    script(src="/js/bootstrap.min.js")
    block extra_script
  body(class="p-0")
    block content
