extends layout

block extra_script
  link(rel="stylesheet", href="/stylesheets/lobby.css")
block content
  div(class="modal-backdrop fade show")
  div(class="modal fade show server_list" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    div(class="modal-dialog ms-3 me-3")
      div(class="modal-content")
        div(class="container")
          div(class="row text-center")
            div(class="col col-5")
              p()
                | Server 1
            div(class="col col-5")
              p()
                | Server 1
          div(class="row text-center")
            div(class="col col-5")
              p()
                | Server 2
            div(class="col col-5")
              p()
                | Server 2
          div(class="row text-center")
            div(class="col col-5")
              p()
                | Server 2
            div(class="col col-5")
              p()
                | Server 2
          div(class="row text-center")
            div(class="col col-5")
              p()
                | Server 2
            div(class="col col-5")
              p()
                | Server 2
          div(class="row text-center")
            div(class="col col-5")
              p()
                | Server 2
            div(class="col col-5")
              p()
                | Server 2
          div(class="row text-center")
            div(class="col col-5")
              p()
                | Server 2
            div(class="col col-5")
              p()
                | Server 2

    
    
        
