extends layout

block extra_script
  link(rel="stylesheet" href="/stylesheets/lobby.css")
block content

  div(class="col-3")
    div(class="modal-content")
      include chat.pug
      
  #games-list
    h3 Joinable Games
    ul
      each game in games.joinable
        li
          span= game.title
          form(action=`/games/${game.id}/join` method="post" target="_blank")
            button Join game

    h3 Active Games
    ul
      each game in games.active
        li
          a(href=`/games/${game.id}` target="_blank")= game.title

    form(action="/games/create" method="post")
      label(for="title") Title (optional):
      input#title(type="text" name="title")
      button#create-game Create a new game


block footer 
  script(src = "/javascript/chat.js")
  script(src = "/javascript/gameManagement.js")
