extends layout

block extra_script
  link(rel="stylesheet", href="/stylesheets/lobby.css")
block content
  div(class="lobby-form rounded-4 d-flex flex-column justify-content-center align-items-center")
    if username 
    H2 WELCOME #{username}
        
