extends layout

block extra_script
  link(rel="stylesheet", href="/stylesheets/register.css")
  script(src="/javascripts/register.js") 
block content
  div(class="register-form rounded-4 d-flex flex-column justify-content-center align-items-center")
    h1(class="mb-5")
      | Register
    form(onsubmit="return register_validation(event)")

      div(class="mb-3") 
        label(for="exampleInputEmail1" class="form-label")
          | Username
        input(type="text" required id="username" name="username" class="form-control")
      div(class="mb-3") 
        label(for="exampleInputEmail1" class="form-label")
          | Email address
        input(type="email" required class="form-control" id="email" name="email" aria-describedby="emailHelp")
        div(id="emailHelp" class="form-text")
          | We'll never share your email with anyone else.
      div(class="mb-3") 
          div()
            label(for="inputPassword6" class="col-form-label")
              | Password
          div()
            input(type="password" required pattern="^.{8,20}$" title="Must be 8-20 characters long" id="password" name="password" class="form-control" aria-describedby="passwordHelpInline")
          div()
            span(id="passwordHelpInline" class="form-text")
              | Must be 8-20 characters long.
      div(class="mb-3") 
          div()
            label(for="inputPassword6" class="col-form-label")
              | Confirm Password
          div()
            input(type="password" required pattern="^.{8,20}$" title="Must be 8-20 characters long" id="confirm_password" class="form-control" aria-describedby="passwordHelpInline")
      button(type="submit" class="btn btn-primary")
        | submit