.server_list {
    display: block;
}

.modal-dialog {
    max-width: none;
}

.game-room:hover {
    border: 4px rgb(70, 70, 238) solid;
    cursor: pointer;
}

#chat-box {
    height: 100px; 
    resize: none;
    border-style:  solid;
    border-color: #ced4da;
    border-width: 1px 0 0 0;
    border-radius: 0;
}

.title {
    color: white;
}