.background {
    height: 100%;
    background: url('../images/uno_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.register-form {
    width: 500px;
    height: 600px;
    background: white;
}